doctype html
html
  head
    meta(charset="utf-8")
    title Катя
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
    link(rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png")
    link(rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png")
    link(rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png")
    link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png")
    link(rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png")
  body
    style(type='text/css').
      .preloader {
        background-color:#fff;
        position:fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;
        z-index:1000;
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
      }
      .preloader__item span {
        display: block;
        position: absolute;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
        animation: animation 1.2s cubic-bezier(0,0.2,0.8,1) infinite;
      }
      .preloader__item span:nth-child(1) {
        border-color: #df6c26;
      }
      .preloader__item span:nth-child(2) {
        border-color: #df6c26;
        animation-delay: -0.6s;
      }
      .preloader__content {
        width: 100px;
        height: 100px;
        margin: auto;
        opacity: 0;
        animation: fade 0.5s ease-in-out;
        animation-fill-mode: forwards;
      }
      .preloader__item {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0;
      }
      .preloader__item span { 
        box-sizing: border-box; 
      }
      @keyframes fade {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes animation {
        0% {
          top: 50px;
          left: 50px;
          width: 0;
          height: 0;
          opacity: 1;
        }
          100% {
          top: 0px;
          left: 0px;
          width: 100px;
          height: 100px;
          opacity: 0;
        }
      }
    //preloader
    .preloader
      .preloader__content
        .preloader__item
          span
          span
      
    //page
    .wrapper
      include ../blocks/header
      .content
        block content
      include ../blocks/footer

    link(rel="stylesheet" href="styles/common.min.css")
    script(src="js/app.min.js")