doctype html
html
  head
    meta(charset="utf-8")
    title Катя
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
    link(rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png")
    link(rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png")
    link(rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png")
    link(rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png")
    link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png")
    link(rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png")
  body
    //preloader
    .preloader(style='background-color:#fff;position:fixed;width:100%;height:100%;top:0;left:0;z-index:1000;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;')
      svg(viewBox='0 0 44 44' style='margin:auto;width:50px;height:50px;' stroke='#494949' xmlns='http://www.w3.org/2000/svg')
        g(fill='none', fill-rule='evenodd', stroke-width='2')
          circle(cx='22', cy='22', r='1')
            animate(attributeName='r', begin='0s', dur='1.8s', values='1; 20', calcMode='spline', keyTimes='0; 1', keySplines='0.165, 0.84, 0.44, 1', repeatCount='indefinite')
            animate(attributeName='stroke-opacity', begin='0s', dur='1.8s', values='1; 0', calcMode='spline', keyTimes='0; 1', keySplines='0.3, 0.61, 0.355, 1', repeatCount='indefinite')
          circle(cx='22', cy='22', r='1')
            animate(attributeName='r', begin='-0.9s', dur='1.8s', values='1; 20', calcMode='spline', keyTimes='0; 1', keySplines='0.165, 0.84, 0.44, 1', repeatCount='indefinite')
            animate(attributeName='stroke-opacity', begin='-0.9s', dur='1.8s', values='1; 0', calcMode='spline', keyTimes='0; 1', keySplines='0.3, 0.61, 0.355, 1', repeatCount='indefinite')
    //page
    .wrapper
      include ../blocks/header
      .content
        block content
      include ../blocks/footer

    link(rel="stylesheet" href="styles/common.min.css")
    script(src="js/app.min.js")