.icon {
  display: block;
  margin: 0;
  width: 40px;
  height: 40px;
  transition: inherit;
}
.js-animated {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: $trs1;
}
.button,
.input {
  display: block;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  appearance: none;
  padding: 0;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  * {
    pointer-events: none;
  }
  &.focus {
    transform: scale(0.95);
  }
  &_style1 {
    line-height: 38px;
    border: 1px solid $colorA;
    border-radius: 40px;
    padding: 0 30px;
    color: $colorA;
    font-weight: 600;
    &.touch,
    &.hover {
      color: #fff;
      background-color: $colorA;
    }
  }
  &_style2 {
    line-height: 38px;
    border: 1px solid $colorA;
    border-radius: 40px;
    background-color: $colorA;
    padding: 0 30px;
    color: #fff;
    font-weight: 600;
    &.touch,
    &.hover {
      background-color: $colorA2;
      border-color: $colorA2;
    }
  }
  &.size1 {
    border-radius: 50px;
    line-height: 48px;
    font-size: 18px;
    min-width: 210px;
  }
  &.size2 {
    border-radius: 60px;
    line-height: 58px;
    font-size: 22px;
  }
  &_100 {
    width: 100%;
  }
}
.input {
  width: 100%;
  color: #000;
  line-height: 40px;
  padding: 0 20px;
  background-color: #fff;
  font-size: 14px;
  &::placeholder {
    transition: $trs1;
    color: $colorC;
  }
  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
  &_style1 {
    border-radius: 5px;
  }
  &_style2 {
    border-radius: 40px;
    &.size1 {
      border-radius: 50px;
    }
    &.size2 {
      border-radius: 60px;
    }
  }
  &.size1 {
    padding: 0 25px;
    line-height: 50px;
    font-size: 16px;
  }
  &.size2 {
    padding: 0 30px;
    line-height: 60px;
    font-size: 18px;
  }
}
.link {
  text-decoration: none;
  display: inline-block;
  &.touch,
  &.hover {
    opacity: 0.8;
  }
  &.focus {
    transform: scale(0.95);
  }
}
//checkboxes
.checkbox {
  position: relative;
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid $colorA;
  input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background-color: $colorA;
    opacity: 0;
    transition: inherit;
  }
  &.checked {
    &:before {
      opacity: 1;
    }
  }
  &.touch,
  &.hover {
    transform: scale(1.05);
  }
  &.focus {
    transform: scale(0.95);
  }
  &.disabled {
    pointer-events: none;
    i {
      background-color: #f4f5f6;
    }
  }
}
.c-white {
  color: #fff;
}
.c-dark {
  color: $colorF;
}
.c-main {
  color: $colorA;
}
.txt-label {
  text-align: center;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: $shadow1;
  background-color: #fff;
  font-size: 36px;
}
//lazy
.lazy {
  visibility: hidden;
  opacity: 0;
  transition: opacity $trs2;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
.scene {
  position: absolute;
  width: calc(100% + 60px);
  height: 100%;
  top: 0;
  left: -30px;
  overflow: hidden;
}
.f-check-item {
  padding-left: 50px;
  position: relative;
  margin-bottom: 40px;
  .checkbox {
    position: absolute;
    left: 0;
    top: 4px;
  }
  &__description {
    margin: 5px 0;
  }
  &__price {
    color: $colorA;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: block;
  }
  &__title {
    color: $colorF;
    font-size: 24px;
    font-weight: bold;
    display: block;
    position: relative;
    text-decoration: none;
    line-height: 30px;
    padding: 0 20px 0 0;
    .icon {
      position: absolute;
      width: 10px;
      height: 10px;
      right: 0;
      top: 10px;
      transition: inherit;
      fill: $colorF;
    }
    &.active {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
}
.toggle-content {
  display: none !important;
  &.active {
    display: block !important;
  }
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  .lazy {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &.overlay {
    background-color: $colorB;
    .lazy.visible {
      opacity: 0.3;
    }
    &_dark {
      .lazy.visible {
        opacity: 0.15;
      }
    }
  }
  &_opacity {
    opacity: 0.35;
  }
  &_contain {
    .lazy {
      background-size: contain;
    }
  }
  &_left {
    .lazy {
      background-position-x: left;
    }
  }
  &_right {
    .lazy {
      background-position-x: right;
    }
  }
  &_top {
    .lazy {
      background-position-y: top;
    }
  }
  &_bottom {
    .lazy {
      background-position-y: bottom;
    }
  }
}
.mask {
  display: none;
  position: absolute;
  width: 102%;
  height: auto;
  left: -1%;
  z-index: 2;
  &_bottom {
    bottom: -1px;
  }
  &_top {
    top: -1px;
  }
}
.desktop {
  .mask {
    display: block;
  }
}
.cover-box {
  overflow: hidden;
  display: block;
  position: relative;
  background: rgba(0,0,0,.3);
  .lazy {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .wh {
    height:100%!important;
  }
  .ww {
    width:100%!important;
  }
  &_contain {
    background-color: transparent;
    .wh {
      width:100%!important;
      height: auto!important;
    }
    .ww {
      height:100%!important;
      width: auto!important;
    }
  }
}
.breadcrumbs {
  font-size: 16px;
  color: #fff;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  &__item {
    display: flex;
    &:not(:last-child) {
      &:after {
        content: '\203A';
        margin: 0 20px;
        font-size: 24px;
        display: block;
        line-height: 20px;
        overflow: hidden;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    &.touch,
    &.hover {
      border-color: transparent;
    }
  }
}
.socials {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__link {
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: $colorA;
    padding: 6px;
    .icon {
      fill: #fff;
      width: 16px;
      height: 16px;
      position: absolute;
    }
    &.touch,
    &.hover {
      transform: scale(1.05);
      background-color: $colorA2;
      .icon {
        transform: scale(0.9);
      }
    }
    &.focus {
      transform: scale(0.95);
    }
  }
}
.mailing {
  display: flex;
  background-color: #fff;
  border-radius: 50px;
  .input {
    flex: 1 1 100%;
  }
  .button {
    flex: 0 0 auto;
    transform: none !important;
    font-size: 14px;
    min-width: 0px;
  }
}
.news-block {
  &_center {
    height: 100%;
  }
  .cover-box {
    min-height: 220px;
    transition: $trs2;
    height: 100%;
  }
  &__container {
    position: relative;
    display: block;
    transition: $trs2;
    overflow: hidden;
    height: 100%;
    &.touch,
    &.hover {
      .cover-box {
        transform: scale(1.025) rotate(-0.5deg);
        opacity: 0.8;
      }
    }
  }
  &__title {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(11, 21, 26, 0.8);
    width: 100%;
    padding: 5px 15px;
    line-height: 25px;
    color: #fff;
    font-size: 18px;
  }
}
.fancybox {
  &-bg {
    background-color: rgba(0,0,0,0.35);
    transition: $trs4;
    opacity: 0;
    backdrop-filter: blur(2px);
  }
  &-is-open {
    .fancybox-bg {
      opacity: 1;
    }
  }
  &-toolbar {
    display: flex;
  }
  &-caption {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 16px;
  }
  &-button {
    width: 50px !important;
    height: 50px !important;
    padding: 17px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $trs1 !important;
    appearance: none;
    color: $colorA;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    svg {
      display: block;
      width: 16px;
      height: 16px;
      transition: inherit;
    }
    &:hover {
      color: $colorA;;
    }
    &.touch,
    &.hover {
      background-color: rgba(0, 0, 0, 0.4);
      svg {
        transform: scale(1.1);
      }
    }
  }
  &-navigation .fancybox-button {
    padding: 0 !important;
    div {
      padding: 10px !important;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &-slide--html {
    .fancybox-content {
      cursor: default;
      padding: 30px 50px 40px 50px;
      border-radius: 4px;
    }
  }
  &-slide--image {
    padding: 40px 0;
  }
  &-infobar {
    min-width: 40px;
    height: 40px;
    line-height: 40px;
  }
  &-progress {
    background-color: $colorA;
  }
  &-error {
    margin: auto;
  }
  &-slide--html {
    padding: 55px;
  }
  &-slide--video {
    padding: 20px;
  }
  &-navigation .fancybox-button {
    width: 44px;
    height: 44px;
    padding: 0;
    top: calc(50% - 22px);
  }
  &-thumbs__list a::before {
    border-color: $colorA;
    border-width: 3px;
  }
}
.integration {
  .background {
    opacity: 0.45;
  }
}
.constructor {
  &__bottom {
    .row {
      align-items: center;
    }
  }
}
.c-total-price {
  line-height: 1;
  white-space: nowrap;
}
.constructor {
  .lazy {
    background-size: auto 88%;
  }
}
.intgr-block {
  &__container {
    border-radius: 8px;
    background-color: #fff;
    height: 90px;
    box-shadow: $shadow1;
  }
  img {
    padding: 15px 30px;
    display: block;
  }
}
.d-image-block {
  width: 450px;
  position: relative;
  &__left {
    width: 75%;
    border-radius: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    border: 2px solid $colorC;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  &__right {
    border: 2px solid $colorC;
    box-shadow: $colorC;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    background-color: #1c3643;
    box-shadow: $shadow1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    color: $colorA;
    bottom: 0;
    right: 0;
    line-height: 0.4;
    font-size: 72px;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  &__p-item {
    margin-bottom: 0.4em;
  }
  &__v {
    display: inline-block;
    margin-right: 0.15em;
    font-weight: 800;
    line-height: 1;
  }
  &__r {
    font-size: 0.65em;
  }
  &__m {
    font-size: 0.55em;
  }
  .d-video-button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%;
  }
}
.d-video-button {
  border: 2px solid $colorC;
  box-shadow: $colorC;
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
  background-color: #1c3643;
  box-shadow: $shadow1;
  display: flex;
  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  &__item {
    width: 50px;
    height: 50px;
    display: block;
    background-color: $colorA;
    border-radius: 100%;
    z-index: 2;
    position: relative;
    margin: auto;
    transition: inherit;
    transition: inherit;
    animation: pulse 1.5s infinite;
    @keyframes pulse {
      0% {
          transform: scale(1);
          box-shadow: 0 0 0 0 rgba(223, 108, 38, 1);
      }
      70% {
          transform: scale(1.1);
          box-shadow: 0 0 0 10px rgba(223, 108, 38, 0);
      } 
      100% {
          transform: scale(1);
          box-shadow: 0 0 0 0 rgba(223, 108, 38, 0);
      }
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      fill: #fff;
      width: 18px;
      height: 18px;
    }
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    &.visible {
      opacity: 0.35;
    }
  }
  &.touch,
  &.hover {
    transform: scale(1.05);
    .d-video-button__item {
      background-color: $colorA2;
    }
  }
  &.focus {
    transform: scale(1.15);
  }
}
.advantages-block {
  text-align: center;
  &__icon {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border: 1px solid $colorA;
    position: relative;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: $colorA;
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 45%;
      height: 45%;
    }
  }
}
.about {
  &__label {
    margin-bottom: 70px;
  }
}
.b-image {
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  min-height: 300px;
  max-height: 420px;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding-left: 30px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &:before {
      content: '';
      display: block;
      border-radius: 14px;
      width: 13px;
      height: 13px;
      background-color: $colorA;
      position: absolute;
      left: 0;
      top: 0.45em;
    }
  }
}

@media all and(max-width: 1900px) {
  .about .background,
  .constructor .background {
    display: none;
  }
}


@media all and(max-width: 1024px) {
  .d-image-block {
    width: 300px;
    &__right {
      font-size: 48px;
    }
  }
  .text-section {
    .background {
      display: none;
    }
  }
  .adv-block {
    &__icon {
      width: 140px;
      height: 140px;
    }
  }
}
@media all and(max-width: 768px) {
  .d-image-block {
    width: 100%;
    max-width: 420px;
    &__right {
      font-size: 64px;
    }
  }
  .b-image {
    height: auto;
    min-height: 0px;
    &::before {
      content: '';
      display: block;
      padding-top: 70%;
    }
  }
  .about  {
    &__label {
      margin-bottom: 50px;
    }
  }
  .txt-label {
    font-size: 28px;
  }
  .news-block {
    &_center {
      .cover-box {
        height: 340px;
      }
    }
  }
}
@media all and(max-width: 576px) {
  .d-image-block {
    &__right {
      font-size: 48px;
    }
  }
  .advantages-block {
    &__icon {
      width: 140px;
      height: 140px;
    }
    &__title {
      br {
        display: none;
      }
    }
  }
  .news-block {
    .cover-box {
      height: 240px;
    }
  }
  .intgr-block {
    &__container {
      height: 70px;
    }
    img {
      padding: 15px;
    }
  }
  .f-check-item {
    margin-bottom: 30px;
    &__title,
    &__price {
      font-size: 22px;
      line-height: 28px;
    }
  }
}


