extends layout/layout
block content
  include blocks/pagination
  +section('Контакты', 'Контакты','img/layer111.jpg')
  section.section
    .section__container
      .container
        .mb-30
          .row.mb--30
            .advantages-block.col-xl-3.col-sm-6.col-12.pb-30
              .advantages-block__container
                .advantages-block__icon
                  svg.icon
                    use(xlink:href='img/icons/icons.svg#handshake')
                .advantages-block__text
                  h6.advantages-block__title.t-size-18.mb-20 По вопросам<br> сотрудничества
                  a(href="mailto:example@mail.ru").link.js-animated.c-main example@mail.ru
            .advantages-block.col-xl-3.col-sm-6.col-12.pb-30
              .advantages-block__container
                .advantages-block__icon
                  svg.icon
                    use(xlink:href='img/icons/icons.svg#phone-with-message')
                .advantages-block__text
                  h6.advantages-block__title.t-size-18.mb-20 Консультация по <br> телефону
                  a(href="mailto:example@mail.ru").link.js-animated.c-main example@mail.ru
            .advantages-block.col-xl-3.col-sm-6.col-12.pb-30
              .advantages-block__container
                .advantages-block__icon
                  svg.icon
                    use(xlink:href='img/icons/icons.svg#gears')
                .advantages-block__text
                  h6.advantages-block__title.t-size-18.mb-20 Технические<br> вопросы
                  a(href="mailto:example@mail.ru").link.js-animated.c-main example@mail.ru 
                  br
                  a(href="tel:").link.js-animated.c-main +7 (490) 222-35-35
            .advantages-block.col-xl-3.col-sm-6.col-12.pb-30
              .advantages-block__container
                .advantages-block__icon
                  svg.icon
                    use(xlink:href='img/icons/icons.svg#bot')
                .advantages-block__text
                  h6.advantages-block__title.t-size-18.mb-20 Демонстрация<br> Кати
                  a(href="tel:").link.js-animated.c-main +7 (490) 222-35-35
        h5.t-size-42.mb-20.c-dark Текстовый блок
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem 
  include blocks/form
