section.section.about#about
  .background.background_contain.background_left
    .lazy(data-src='img/фон1.jpg')
  .background.background_contain.background_right
    .lazy(data-src='img/Слой 20.jpg')
  .section__container
    .container
      .about__label.txt-label.t-size-36
        span.c-dark Искусственный 
          strong ИНТЕЛЛЕКТ 
        span.c-main заменит Вашего администратора
      .row.mb--40
        .col-xl-5.col-sm-12.pb-40
          .b-image.cover-box
            img.lazy(data-src="img/Слой 22.jpg", alt="")
        .col-xl-7.col-sm-12.pb-40
          h5.t-size-42.mb-20.c-dark О программе
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
