section.section.c-white
  .background.overlay.overlay_dark
    .scene
      .lazy(data-src='img/layer17.jpg' data-depth="0.05")
    svg(viewBox="0 0 1920 31.9").mask.mask_top
      use(xlink:href='img/mask.svg#top')
  .section__container
    .container
      h5.t-a-center.mb-40.t-size-42 Преимущества системы
      .row.mb--30
        mixin block(path, text)
          .advantages-block.col-xl-3.col-sm-6.col-12.pb-30
            .advantages-block__container
              .advantages-block__icon
                svg.icon
                  use(xlink:href=path)
              .advantages-block__text
                p=text
        +block('img/icons/icons.svg#telemarketing-phone-operator', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod teididunt ut labore et dolore magna aliqua. Ut enim ad minim')
        +block('img/icons/icons.svg#big-stopwatch', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, labore et dolore magna aliqua. Ut enim ad minim')
        +block('img/icons/icons.svg#shield', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod teididunt ut labore et dolore magna aliqua. Ut enim ad minim')
        +block('img/icons/icons.svg#barber-pole', 'Lorem ipsum dolor sit amet, ididunt ut labore et dolore magna aliqua. Ut enim ad minim')
                
