section.section#connection
  .background.overlay
    .scene
      .lazy(data-src='img/layer5.jpg' data-depth="0.05")
  .section__container.c-white
    .container
      h5.t-size-42.t-a-center.mb-40 Оставить заявку на подключение
      form(action="")
        .row
          .col-xl-6.col-12.mb-15
            input(type="text" placeholder="Ваше имя").input.input_style1.size2
          .col-xl-6.col-12.mb-15
            input(type="text" placeholder="Контактный телефон").input.input_style1.size2.masked
          .col-xl-6.col-12.mb-15
            input(type="text" placeholder="Город").input.input_style1.size2
          .col-xl-6.col-12.mb-15
            input(type="text" placeholder="Адрес ББШ").input.input_style1.size2
          .col-xl-6.col-12.mb-15
            input(type="text" placeholder="Название ББШ").input.input_style1.size2
          .col-xl-6.col-12.mb-15
            input(type="text" placeholder="Система онлайн записи").input.input_style1.size2
          .col-xl-6.col-12.mb-15
            input(type="text" placeholder="Промокод").input.input_style1.size2
          .col-xl-6.col-12
            .row.center
              .col-xl-6.col-md-12
                button.button.button_style2.button_100.fluid.size2.js-animated Подключить