section.section.integration
  .background
    .lazy(data-src='img/398-3981558_igo-mid-winter-conference-network-png.png')
  .section__container
    .container
      h5.t-a-center.mb-40.t-size-42.c-dark Возможность интеграции
      .row.mb--20
        mixin item(path)
          .intgr-block.col-xl-3.col-sm-6.pb-20
            .intgr-block__container.cover-box.cover-box_contain 
              img(data-src=path alt="logo").lazy
        +item('img/yclients.jpg')
        +item('img/whatsapp-logo-full.png')
        +item('img/telegram.jpg')
        +item('img/1s.jpg')