section.section.c-white
  .background.overlay
    .scene
      .lazy(data-src='img/Слой 8.jpg' data-depth="0.05")
  .section__container
    .container
      h5.t-a-center.mb-40.t-size-42 Новости
      .row.compact.mb--10
        .col-xl-4.col-sm-12
          .row.compact
            .news-block.col-lg-12.col-sm-6.col-12.pb-10
              a(href="#").news-block__container.js-animated
                .cover-box
                  img(data-src="img/Слой 13.jpg" alt='bg').lazy
                h6.news-block__title Название новости
            .news-block.col-lg-12.col-sm-6.col-12.pb-10
              a(href="#").news-block__container.js-animated
                .cover-box
                  img(data-src="img/Слой 13.jpg" alt='bg').lazy
                h6.news-block__title Название новости
        .col-xl-4.col-sm-12
          .news-block.news-block_center.pb-10
            a(href="#").news-block__container.js-animated
              .cover-box
                img(data-src="img/Слой 13.jpg" alt='bg').lazy
              h6.news-block__title Название новости
        .col-xl-4.col-sm-12
          .row.compact
            .news-block.col-xl-12.col-sm-6.col-12.pb-10
              a(href="#").news-block__container.js-animated
                .cover-box
                  img(data-src="img/Слой 13.jpg" alt='bg').lazy
                h6.news-block__title Название новости
            .news-block.col-xl-12.col-sm-6.col-12.pb-10
              a(href="#").news-block__container.js-animated
                .cover-box
                  img(data-src="img/Слой 13.jpg" alt='bg').lazy
                h6.news-block__title Название новости
        