.slider
  .slider__container
    //slide
    .slide
      h5.slide__item.t-size-48.mb-20 Бот оператор для барбершопа
      p.slide__item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      .slide__item
        a(href="#about").button.button_style2.js-animated.scrollTo Узнать больше
    //slide
    .slide
      h5.slide__item.t-size-48.mb-20 Доступно для каждого барбершопа
      p.slide__item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    //slide
    .slide
      h5.slide__item.t-size-48.mb-20 Заголовок
      p.slide__item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .slider-pagination
    //соответствует количеству слайдов
    a(href="javascript:void(0)").slider-pagination__trigger.js-animated
    a(href="javascript:void(0)").slider-pagination__trigger.js-animated
    a(href="javascript:void(0)").slider-pagination__trigger.js-animated

